<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

<style>
    .tamanho{
            width:200px;
    }
    .centralizado{
            margin-left: 38%;
    }
</style>

<div ng-app="financeiro" ng-controller="formulario" class="centralizado">
  <form ng-submit="processForm()">
  <br>
	<div class="form-group">
		<label>Seu Nome:</label>
		<input class="form-control form-control-lg tamanho" placeholder="Ex.: Luiz" type="text" ng-model="formData.nomecliente">
	  </div>
  
	<div class="form-group">
	<label>Credito Necessario:</label>
		<input class="form-control form-control-lg tamanho" placeholder="Ex.: 5000.00" type="money" ng-model="formData.creditocliente">
	</div>

	<div class="form-group">
		<label>Risco</label>
		<select class="form-control tamanho" ng-model="formData.riscoSelecionado" ng-options="x for x in names">
		</select>
	</div>
  <button type="submit" class="btn btn-success btn-lg btn-block tamanho">
      <span class="glyphicon glyphicon-flash"></span> Submit!
  </button>
	<br>
	
  </form>
  
  <label>Base Cadastrada:</label>
  
<table class="table table-hover" style="width: 35%;">
  <tr>
    <td>Nome Cliente</td>
    <td>Credito</td>
	<td>Juros</td>
	<td>Risco</td>
  </tr>
  <tr ng-repeat="x in credit">
    <td>{{ x.nome }}</td>
    <td>{{ x.valor }}</td>
    <td>{{ x.juros }}</td>
    <td>{{ x.tipo }}</td>
  </tr>
</table>
  
  
</div>

<script>
var app = angular.module('financeiro', []);

app.controller('formulario', ['$scope', '$http', function($scope, $http) {
    $scope.names = ["A", "B", "C"];
    $scope.formData = {};
  
    $scope.processForm = function() {
            $scope.credit;
              var baseUrl = 'http://159.203.123.149:8080/creditojuros/webresources/credito/salvarcredito/' + $scope.formData.nomecliente +
              "/" + $scope.formData.creditocliente + "/" + $scope.formData.riscoSelecionado;

              var config = {
                     headers : {'Accept' : 'application/json'}
                    };

              $http.get(baseUrl, config).then(function(response) {
                    $scope.credit = response.data;
              }, function(err) {
                    console.log(err);
              });

    };
  
}]);
</script>


</body>
</html>
